.innerpage-title h2 {
    color: #FFF;
    font-size: 45px;
    font-family: 'Barlow';
    text-transform: uppercase;
    letter-spacing: 7px;
}

.innerpage-title h3 {
    color: transparent;
    -webkit-text-stroke: 0.5px #cbcbcb;
    /* text-stroke: 1px #cbcbcb; */
    text-shadow: none;
    opacity: 0.5;
    font-size: 87px;
    font-family: 'Barlow';
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 31px;
    padding-top: 33px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.innerpage-text p{
    font-family: 'Noto Sans', sans-serif;
    /* color : #3b1953 !important; */
    font-size: 15px;
    line-height: 24px;
}
.innerpage-text i{
    color: #e21f25 ;
}

.innerpage-header-bg{
    background-color:#e21f25 ;
}
