@font-face {
  font-family: 'ProximaNovaA-Thin';
  src: url('ProximaNovaA-Thin.eot');
  src: url('ProximaNovaA-Thin.eot?#iefix') format('embedded-opentype'),
       url('ProximaNovaA-Thin.svg#ProximaNovaA-Thin') format('svg'),
       url('ProximaNovaA-Thin.ttf') format('truetype'),
       url('ProximaNovaA-Thin.woff') format('woff'),
       url('ProximaNovaA-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url('ProximaNovaT-Thin.eot');
  src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
       url('ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg'),
       url('ProximaNovaT-Thin.ttf') format('truetype'),
       url('ProximaNovaT-Thin.woff') format('woff'),
       url('ProximaNovaT-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('ProximaNova-Bold.ttf') format('truetype'),
       url('ProximaNova-Bold.woff') format('woff'),
       url('ProximaNova-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('ProximaNova-Black.eot');
  src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
       url('ProximaNova-Black.svg#ProximaNova-Black') format('svg'),
       url('ProximaNova-Black.ttf') format('truetype'),
       url('ProximaNova-Black.woff') format('woff'),
       url('ProximaNova-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('ProximaNova-Extrabld.eot');
  src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
       url('ProximaNova-Extrabld.ttf') format('truetype'),
       url('ProximaNova-Extrabld.woff') format('woff'),
       url('ProximaNova-Extrabld.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Bold';
  src: url('ProximaNovaA-Bold.eot');
  src: url('ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),
       url('ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg'),
       url('ProximaNovaA-Bold.ttf') format('truetype'),
       url('ProximaNovaA-Bold.woff') format('woff'),
       url('ProximaNovaA-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Light';
  src: url('ProximaNovaA-Light.eot');
  src: url('ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'),
       url('ProximaNovaA-Light.svg#ProximaNovaA-Light') format('svg'),
       url('ProximaNovaA-Light.ttf') format('truetype'),
       url('ProximaNovaA-Light.woff') format('woff'),
       url('ProximaNovaA-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('ProximaNova-Regular.ttf') format('truetype'),
       url('ProximaNova-Regular.woff') format('woff'),
       url('ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}







