<div class="container-fluid p-0 m-0 mb-3" style="position: relative;">
    <picture>
        <source media="(max-width: 768px)"  srcset="https://cdn.vgn.in/nodeserver/website/banner/mobile/23.png">
        <source media="(min-width: 768px)"  srcset="https://cdn.vgn.in/nodeserver/website/banner/23.png">
        <img src="https://cdn.vgn.in/nodeserver/website/banner/mobile/23.png" alt="VGN" title="VGN" style="width:100%;min-height:480px;max-height:600px;height:auto;border-radius:0% 100% 0% 100% / 50% 0% 100% 15%;">
    </picture>
    <div class="text-center position-absolute ps-1" style="left:10px;top: 1rem;">
      <a routerLink="/home" class="cta-btn--parent">
      Home
      </a>
  </div>
    <div class="centered banner_text text-center" role="search">
      <h1 class="banner_text mb-4">About Us</h1>
    </div>
</div>

<div class="container-fluid body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Who we are</h1>
      <p class="text-justify">Established in the year 1942, VGN has successfully carved a niche for itself in the ever-dynamic real estate industry over the last 77 years. An ISO 9001:2008 certified company, VGN is known as much for its beautiful, world-class homes as it is for following best practices in the industry, being an Integrated Management System (IMS) certified company by Lloyd's Register.</p>
      <p class="text-justify">VGN is a Multi-Million dollar real estate company headquartered in Chennai, which develops residences, commercial, retail and plots in India. With over 20 million square feet of residential projects under development, VGN is one of the most respected and reputed builders in Chennai. Starting with affordable housing and spreading our wings to ultra-luxury segment, we have catered to all sections of the society. Synonymous with quality, timely delivery, expertise and trust, VGN is a name that is here to stay.</p>
      <p class="text-justify">While we may have numerous achievements under our belt, we take pride in the fact that we have been helping thousands of families realize their dreams, providing exponential returns on their investments. And it is this satisfaction that we derive from what we do that makes us venture into newer and more challenging areas in property development.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>

<div class="container-fluid body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold mb-5">History</h1>
    <div class="row mb-5">
      <div class="col-sm-12 col-md-3 d-flex justify-content-center mb-5" >
          <img class="img-rounded  w-75" src="https://cdn.vgn.in/nodeserver/website/picture/v_guruswamy_vgn_founder.jpg"/>
      </div>
      <div class="col-sm-12 col-md-9">
        <h2 class="sub-title">MR. V. Gurusamy (1896 to 1966) - <small class="subtext">Founder</small></h2>
        <p>V. Gurusamy is the founder of VGN group. In the year 1942 he started a brick kiln factory and manufactured bricks in the name of VGN. He acquired land parcels basically to manufacture bricks in various locations. He worked hard to build good will and earned a name for VGN brand.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-12 col-md-3 d-flex justify-content-center mb-5" >
          <img class="img-rounded  w-75" src="https://cdn.vgn.in/nodeserver/website/picture/md_pic.jpg"/>
      </div>
      <div class="col-sm-12 col-md-9">
        <h2 class="sub-title">MR. Pratish Vedhappudi - <small class="subtext">Managing Director</small></h2>
        <p>Mr. Pratish Vedhappudi entered into the real estate business at a very young age from the year 2004. He wanted to implement his dream of venturing into property development and construction of large residential projects in and around Chennai. Since 2008, he has embarked into large residential townships in various parts of Chennai. His motto is to help thousands of families realize their dream of owning a ‘Home’ and also provide exponential returns on their investments in VGN properties . Under his leadership, VGN group has completed over 600 acres of plotted development, consisting of 20,000 residential plots . The company has also delivered around 10,500 apartments under his dynamic leadership. He is the owner of VGN Group.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>

<div class="container-fluid  body-content " style="border-radius: 50px 50px 0px 400px / 0px 0px 0px 75px;">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold mb-3">Key Managerial People</h1>
    <p>VGN is run by a fine team of professionals with rich experience in the Real Estate and the Infrastructure industries.</p>
    <div class="row mb-5 key-people">
      <div class="col-sm-12 col-md-3 d-flex justify-content-center mb-3" >
        <div class="card border-0 rounded   m-2">
          <img class="card-img-top  border-0" src="https://cdn.vgn.in/nodeserver/website/picture/dgm_sales.jpg" alt="" style="width:200px;height:240px;">
          <div class="card-body p-0">
              <ul class="list-group border-0 list-group-flush text-center">
                  <li class="list-group-item rounded border-0 p-0"><h4 class="d-inline-block m-0">Mr. H. Suresh Kumar</h4></li>
                  <li class="list-group-item rounded border-0 p-0"><h4 class="d-inline-block m-0">GM - Sales & CRM</h4></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 d-flex justify-content-center mb-3" >
        <div class="card border-0 rounded   m-2">
          <img class="card-img-top border-0" src="https://cdn.vgn.in/nodeserver/website/picture/design.jpg" alt="" style="width:200px;height:240px;">
          <div class="card-body p-0">
              <ul class="list-group border-0 list-group-flush text-center">
                  <li class="list-group-item rounded border-0 p-0"><h4 class="d-inline-block m-0">Mr. A. Rangappan</h4></li>
                  <li class="list-group-item rounded border-0 p-0"><h4 class="d-inline-block m-0">DGM - Projects</h4></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 d-flex justify-content-center mb-3" >
        <div class="card border-0 rounded  m-2">
          <img class="card-img-top border-0" src="https://cdn.vgn.in/nodeserver/website/picture/dgm_cluster.jpg" alt="" style="width:200px;height:240px;">
          <div class="card-body p-0">
              <ul class="list-group border-0 list-group-flush text-center">
                  <li class="list-group-item rounded-0 border-0 p-0"><h4 class="d-inline-block m-0">Mr. C. Gajendran</h4></li>
                  <li class="list-group-item rounded-0 border-0 p-0"><h4 class="d-inline-block m-0">DGM - Construction</h4></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 d-flex justify-content-center" >
        <div class="card border-0 rounded  m-2">
          <img class="card-img-top border-0" src="https://cdn.vgn.in/nodeserver/website/picture/smfinance.jpg" alt="" style="width:200px;height:240px;">
          <div class="card-body p-0">
              <ul class="list-group border-0 list-group-flush text-center">
                  <li class="list-group-item rounded border-0 p-0 "><h4 class="d-inline-block m-0 pb-0">Mr. T. Moorthy </h4></li>
                  <li class="list-group-item rounded border-0 p-0"><h4 class="d-inline-block m-0">SM - Finance</h4></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>


<div class="container-fluid body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Vision</h1>
    <p>To be one of the largest integrated real estate and infrastructure companies in the country. We will deliver reliable, high quality services to real estate and infrastructure, always ensuring that integrity, quality, safety, timely delivery and sustainability are at the heart of everything we do.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>

<div class="container-fluid body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Beliefs & Values</h1>
    <h4>Core Values</h4>
    <p>To realize our vision and mission, we always turn to the corporate values that we hold dear. We will live and deliver these values with uncompromising commitment to safety and sustainability.</p>
    <h4>Performance</h4>
    <p>We are here to make a valuable difference to our stakeholders and clients and we will make it happen against all odds.</p>
    <h4>Passion</h4>
    <p>We are differentiated by our ‘Can Do’ attitude and the fire in our belly.</p>
    <h4>Team Work</h4>
    <p>We can gain from the diversity within our group by sharing knowledge and resources to achieve individual and collective success.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>

<div class="container-fluid body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Our People</h1>
    <p>VGN has a young, growing and dynamic team of professionals who bring to the table varied strengths and competencies. An equal opportunity employer, VGN constantly conducts training programmes across all verticals and at various levels to improve and upgrade the skill sets of every employee.</p>
    <h4>Objective & Practices</h4>
    <p>To build capabilities and competencies in the organization in order to deliver business results, redefining technology and cycle time of projects</p>
    <p>To create a working environment which enhances performance orientation, creates an atmosphere conducive to learning and to ensure that employees are engaged, committed and stay on for a long time in the company To maximize human potential through vibrant people processes and practices</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>

<div class="container-fluid body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Environment, Health & Safety (EHS)</h1>
    <p>Our Environment, Health & Safety system ensures consistent and effective management of environmental protection, occupational health, safety of our employees, workers throughout the business establishment and interface with partners, clients and contractors.</p>
    <p>Our EHS system promotes improvement by ongoing monitoring, inspection and internal / external audit, which evaluates the EHS performance against established standards.</p>
    <p>We believe that good health, safety and environmental performance are an integral part of efficient and profitable business management. It recognizes that these matters rank equally in importance with other management responsibilities and that success in these areas depends on the involvement and commitment of everyone in the organization.</p>
    <h4 class="text-bold black-text">Commitment</h4>
    <p>As a consequence of our overall commitment to preserve environment, health and safety is established by;</p>
    <ul >
      <li><p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Providing and maintaining healthy and safe working conditions and systems of work for all employees and contractors</p></li>
      <li><p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Effective communication and encouraging their active participation</p></li>
      <li><p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Recognizing and responding constructively to community concerns about health, safety and environmental aspects of our operation</p></li>
      <li><p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Providing sufficient resources in terms of people, training and equipments to meet EHS requirements</p></li>
      <li><p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Setting targets for improving occupational health, safety and environmental protection</p></li>
    </ul>
    <p>We regard EHS as mainstream management responsibility and concerned executive’s responsibilities are clearly defined for business operations and control.</p>
    <p>Advice and support is provided from the corporate environment, health and safety function to establish and motivate the EHS activities.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container-lg text-left">
    <img class="card-img-top"  src="https://cdn.vgn.in/nodeserver/website/logo/brush-stroke-banner.svg" style="width:100px;height:60px;transform: rotate(180deg);">
  </div>
</div>

<div class="container-fluid mb-5 body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Quality Policy</h1>
    <p>At VGN, we give the utmost importance to the quality of the projects we do. All these years, we have been delivering homes to our customers that meet high standards of quality by adopting quality materials, design and construction techniques.</p>
    <p>We believe that organization development depends on the quality of the products and services. As a part of this we have developed a strong team to monitor the quality at regular intervals of time and quality audits through internal / external agencies.</p>
  </div>
</div>



<div class="container-fluid mb-5 body-content">
  <div class="container-lg pt-3 ">
    <h1 class="fw-bold">Awards</h1>
      <div class="row">
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2 ">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/ET_awards_2021_1.jpg" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Economic Times BB Reality 2021</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Aircel Super Cup.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Aircel Super Cup</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Chennai Super Kings - Super Cup.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush  ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Chennai Super Kings Super Cup winner</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/V Raman Memorial Cup.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">V Raman Memorial Cup 2017</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/South Indias Real Estate.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">South India’s real estate Awards - Developers of the Year 2017</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Zenith.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Zenith Cultural Fest Award</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Vijayavani Property Expo.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Vijayavani Property Expo Awards 2015</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Indian Express Expanding Metropolis.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Indian Express Property Expo Awards</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/India Bulls Premier League.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">India Bulls premier League Awards 2016</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Prince Of Arcot Trophy.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Prince of Arcot Trophy Runners Up 2013</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Prince of Arcot Trophy 2014.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Prince of Arcot Trophy Runners Up 2014</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/SAP Invitional Cup.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">SAP invitational F15 Cricket Cup winner</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/LIC HFL.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">LIC HFL Ungal Illam awards 2017</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Economic Times Realty Convention.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Economic Times Reality Convention Awards</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/HDFC Devloper of the Year.JPG" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">HDFC Preferred Developer Award</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/LIC HFL Ungal Illam awards 2013.jpg" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush ">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">LIC HFL Ungal Illam awards 2013</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Maddys - Advertising Club.jpg" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Maddys - Advertising club Madras Daily Thanthi – TV and Radio Awards 2017</h6></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 d-flex justify-content-left" >
          <div class="card border-0 rounded  m-2">
            <img class="card-img-top border-0" src="https://cdn.vgn.in/images/awards/Sulekha Awards.jpg" alt="" style="width:200px;height:240px;">
            <div class="card-body p-0">
                <ul class="list-group border-0 list-group-flush">
                    <li class="list-group-item rounded border-0 p-0 "><h6 class="d-inline-block m-0 pb-0">Lifetime Achievement Award by Sulekha Properties</h6></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>