<section class="innerpage-title mb-5">
    <div class="container-fluid innerpage-header-bg mb-5 p-4">
        <div class="row align-items-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
            <h2 class="text-center">Blog</h2>
            <h3 class="text-center">Blog</h3>
        </div>
        </div>
    </div> 
    <div class="container-fluid innerpage-text">
        <div class="container">
            <!-- <section id="about" class="scroll-section root-sec padd-tb-60 grey lighten-5 about-wrap breadlist"> -->
<div class="row bread">
    <div class="clearfix about-inner">
      <!-- <ul class="breadcrumb">
        <li>
        </li>
        <li>Blog</li>
      </ul> -->
    </div>
  </div>
  <div class="row">
    <div class="clearfix about-inner" style="margin: 8px 0;">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="about-subtitle">Latest Blog Updates</h2>
        <!--start-->
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 30px;">
            <a href="">
                <div class="card">
                    <div class="card-image">
                      <picture>
                        <source media="(max-width: 768px)" type="image/jpeg" srcset="/blogimg/7mobile.jpg">
                        <source media="(min-width: 768px)" type="image/jpeg" srcset="/blogimg/7main.jpg">
                        <img src="https://cdn.vgn.in/blogimg/7main.jpeg" style="width:100%" alt="live_in_your_perfect_luxury_dream_house_in_a_perfect_location_in_chennai" title="live_in_your_perfect_luxury_dream_house_in_a_perfect_location_in_chennai">
                      </picture>
                    </div>
                    <div class="card-content">
                      <span class="grey-text pull-right" style="font-size: 14px;">January 07, 2021</span>
                      <br>
                      <p style="text-align: justify;">Everyone wants to live in a perfect luxurious home at the most convenient location in a city like Chennai. The feel of living in a luxurious home is truly blissful! That's why the demand [...]</p>
                      <br>
                      <span class="pull-right" style="color: blue;">Read More >></span>
                    </div> 
                </div>           
            </a>
          </div>
        </div>
      </div>
      <!--end-->
      <!--start-->
      <div class="row">
        <div class="col-md-12" style="margin-bottom: 30px;">
            <a href="/blog/five_reasons_why_Guindy_should_be_your_next_choice_to_buy_apremium_apartment">
                <div class="card">
                  <div class="card-image">
                    <picture>
                      <source media="(max-width: 768px)" type="image/jpeg" srcset="/blogimg/6mobile.jpg">
                      <source media="(min-width: 768px)" type="image/jpeg" srcset="/blogimg/6main.jpg">
                      <img src="https://cdn.vgn.in/blogimg/6main.jpeg" style="width:100%" alt="five_reasons_why_Guindy_should_be_your_next_choice_to_buy_apremium_apartment" title="five_reasons_why_Guindy_should_be_your_next_choice_to_buy_apremium_apartment">
                    </picture>
                  </div>
                  <div class="card-content">
                    <span class="grey-text pull-right" style="font-size: 14px;">January 04, 2021</span>
                    <br>
                    <p style="text-align: justify;">Guindy is undoubtedly the heart of Chennai city! Over the years Guindy has become the most preferred residential location in Chennai . Guindy enjoys a well-planned residential housing layout system along with good wide [...]</p>
                    <br>
                    <span class="pull-right" style="color: blue;">Read More >></span>
                  </div>
                </div>
              </a>
        </div>
      </div>
    </div>
    <!--end-->
    <!--start-->
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 30px;">
        <a href="/blog/The_Remarkable_Transformation_Of_Ambattur">
            <div class="card">
              <div class="card-image">
                <picture>
                  <source media="(max-width: 768px)" type="image/jpeg" srcset="/blogimg/5mobile.jpg">
                  <source media="(min-width: 768px)" type="image/jpeg" srcset="/blogimg/5main.jpg">
                  <img src="https://cdn.vgn.in/blogimg/5main.jpeg" style="width:100%" alt="The_Remarkable_Transformation_Of_Ambattur" title="The_Remarkable_Transformation_Of_Ambattur">
                </picture>
              </div>
              <div class="card-content">
                <span class="grey-text pull-right" style="font-size: 14px;">October 28, 2020</span>
                <br>
                <p style="text-align: justify;">Ambattur, located in the western part of Chennai, has tremendously grown from being an extensive agricultural village to gradually upgrading into an IT, Industrial, and Technology hub of [...]</p>
                <br>
                <span class="pull-right" style="color: blue;">Read More >></span>
              </div>
            </div>
          </a>
      </div>
    </div>
  </div>
  <!--end-->
  <!--start-->
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 30px;">
        <a href="/blog/importance_of_vastu_for_a_holistic_lifestyle">
            <div class="card">
              <div class="card-image">
                <picture>
                  <source media="(max-width: 768px)" type="image/jpeg" srcset="/blogimg/4mobile.jpg">
                  <source media="(min-width: 768px)" type="image/jpeg" srcset="/blogimg/4main.jpg">
                  <img src="https://cdn.vgn.in/blogimg/4main.jpeg" style="width:100%" alt="importance_of_vastu_for_a_holistic_lifestyle" title="importance_of_vastu_for_a_holistic_lifestyle">
                </picture>
              </div>
              <div class="card-content">
                <span class="grey-text pull-right" style="font-size: 14px;">October 24, 2020</span>
                <br>
                <p style="text-align: justify;">Vastu is the architectural science that deals with the holistic designing of a home to facilitate the abundant flow of positive energy in the household. There is a predominant notion that Vastu is[...]</p>
                <br>
                <span class="pull-right" style="color: blue;">Read More >></span>
              </div>
            </div>
        </a>
    </div>
  </div>
        <!-- </section> -->
        </div>
    </div>  
</section>


