<div class="container-fluid p-0 m-0 mb-3" style="position: relative;">
    <picture>
        <source media="(max-width: 768px)"  srcset="https://cdn.vgn.in/nodeserver/website/banner/mobile/28.png">
        <source media="(min-width: 768px)"  srcset="https://cdn.vgn.in/nodeserver/website/banner/28.png">
        <img src="https://cdn.vgn.in/nodeserver/website/banner/mobile/28.png" alt="VGN" title="VGN" style="width:100%;min-height:480px;max-height:600px;height:auto;border-radius:0% 100% 0% 100% / 50% 0% 100% 15%;">
    </picture>
    <div class="text-center position-absolute ps-1" style="left:10px;top: 1rem;">
        <a routerLink="/home" class="cta-btn--parent">
        Home
        </a>
    </div>
    <div class="centered banner_text text-center" role="search">
      <h1 class="banner_text mb-4">Investors</h1>
    </div>
</div>


<div class="container-fluid mb-5">
    <div class="container-lg pt-3 ">
      <!-- <h1 class="content-color">WHY VGN HOME BUILDING</h1> -->
        <p class="content-color text-justify">
            Leading  global investors and renowned financial institutions are associated with us as investors of our various projects.
        </p>
        <div class="row mt-5">
            <div class="col-md-3 mb-5">
                  <img class="card-img-top mb-5" src="https://cdn.vgn.in/nodeserver/website/investors/Edelweiss_logo.png" alt="">
            </div>
            <div class="col-md-3 mb-5">
                  <img class="card-img-top mb-5" src="https://cdn.vgn.in/nodeserver/website/investors/ICICI_Bank_Logo.png" alt="">
            </div>
            <div class="col-md-3 mb-5">
                  <img class="card-img-top mb-5" src="https://cdn.vgn.in/nodeserver/website/investors/Kohlberg_Kravis_Roberts_(logo).png" alt="">
            </div>
            <div class="col-md-3 mb-5">
                  <img class="card-img-top mb-5" src="https://cdn.vgn.in/nodeserver/website/investors/Kotak_Mahindra_Bank_logo.png" alt="">
            </div>
            <div class="col-md-3 mb-5">
                  <img class="card-img-top mb-5" src="https://cdn.vgn.in/nodeserver/website/investors/piramal-logo_1.png" alt="">
            </div>
        </div>
    </div>
  </div>