<section class="innerpage-title mb-5">
    <div class="container-fluid innerpage-header-bg mb-5 p-4">
        <div class="row align-items-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
            <h2 class="text-center">SITEMAP</h2>
            <h3 class="text-center">Sitemap</h3>
        </div>
        </div>
    </div> 
    <div class="container-fluid innerpage-text">
        <div class="container">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Site Map Links</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/">{{ url()->full() }}/</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/customerzone/customerlogin">{{ url()->full() }}/customerzone/customerlogin</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/vendorzone/vendorlogin">{{ url()->full() }}/vendorzone/vendorlogin</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/vendorzone/registration">{{ url()->full() }}/vendorzone/registration</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/employeezone/employeelogin">{{ url()->full() }}/employeezone/employeelogin</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/Premium-Builders-in-Chennai">{{ url()->full() }}/Premium-Builders-in-Chennai</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/history_of_vgn">{{ url()->full() }}/history_of_vgn</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/sponsorships">{{ url()->full() }}/sponsorships</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/awards">{{ url()->full() }}/awards</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news">{{ url()->full() }}/news</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/search">{{ url()->full() }}/search</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/Premium-Real-Estate-Developers-in-Chennai">{{ url()->full() }}/Premium-Real-Estate-Developers-in-Chennai</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/Flat-Builders-Chennai">{{ url()->full() }}/Flat-Builders-Chennai</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/contact_us">{{ url()->full() }}/contact_us</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/fairmont/Buy-premium-flats-Guindy">{{ url()->full() }}/fairmont/Buy-premium-flats-Guindy</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/notting_hill/Flats-for-sale-nungambakkam">{{ url()->full() }}/notting_hill/Flats-for-sale-nungambakkam</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/oval_gardens">{{ url()->full() }}/project/oval_gardens</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/victoria_park">{{ url()->full() }}/project/victoria_park</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/monte_carlo">{{ url()->full() }}/project/monte_carlo</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/windsor_park_phase_v">{{ url()->full() }}/project/windsor_park_phase_v</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/spring_field_phase_ii">{{ url()->full() }}/project/spring_field_phase_ii</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/mayfield_park">{{ url()->full() }}/project/mayfield_park</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/royale">{{ url()->full() }}/project/royale</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/crofton_gardens_phase_ii">{{ url()->full() }}/project/crofton_gardens_phase_ii</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/vgnsitemap">{{ url()->full() }}/vgnsitemap</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/disclaimer">{{ url()->full() }}/disclaimer</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/privacy_policy">{{ url()->full() }}/privacy_policy</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/terms_and_conditions">{{ url()->full() }}/terms_and_conditions</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=2">{{ url()->full() }}/news?page=2</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=3">{{ url()->full() }}/news?page=3</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=4">{{ url()->full() }}/news?page=4</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=5">{{ url()->full() }}/news?page=5</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=6">{{ url()->full() }}/news?page=6</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=7">{{ url()->full() }}/news?page=7</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=8">{{ url()->full() }}/news?page=8</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=17">{{ url()->full() }}/news?page=17</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=18">{{ url()->full() }}/news?page=18</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/varna_bhoomi">{{ url()->full() }}/project/varna_bhoomi</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/brixton/Residential-Property-Irungattukottai">{{ url()->full() }}/brixton/Residential-Property-Irungattukottai</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/coasta/Luxury-Apartments-in-ECR">{{ url()->full() }}/coasta/Luxury-Apartments-in-ECR</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/dynasty">{{ url()->full() }}/project/dynasty</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/imperia">{{ url()->full() }}/project/imperia</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/stafford/Luxury-apartment-ambattur">{{ url()->full() }}/stafford/Luxury-apartment-ambattur</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/temple_town/Flats-for-sale-thiruverkadu">{{ url()->full() }}/temple_town/Flats-for-sale-thiruverkadu</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/blooming_dale_phase_ii">{{ url()->full() }}/project/blooming_dale_phase_ii</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/southern_garden_extension">{{ url()->full() }}/project/southern_garden_extension</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/santhosh_nagar_extension">{{ url()->full() }}/project/santhosh_nagar_extension</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/sarang_avenue">{{ url()->full() }}/project/sarang_avenue</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/harmony">{{ url()->full() }}/project/harmony</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/mahalakshmi_nagar_phase_ix_and_x">{{ url()->full() }}/project/mahalakshmi_nagar_phase_ix_and_x</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/southern_meadows">{{ url()->full() }}/project/southern_meadows</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/fairmont">{{ url()->full() }}/floorimages/fairmont</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/fairmont">{{ url()->full() }}/constructionimages/fairmont</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/notting_hill">{{ url()->full() }}/floorimages/notting_hill</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/notting_hill">{{ url()->full() }}/constructionimages/notting_hill</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/victoria_park">{{ url()->full() }}/constructionimages/victoria_park</a>
                    </td>
                  </tr>
                  <!-- <tr><td><a href="{{ url()->full() }}/floorimages/ch40">{{ url()->full() }}/floorimages/ch40</a></td></tr> -->
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/monte_carlo">{{ url()->full() }}/floorimages/monte_carlo</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/spring_field_phase_ii">{{ url()->full() }}/constructionimages/spring_field_phase_ii</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/mayfield_park">{{ url()->full() }}/constructionimages/mayfield_park</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/royale">{{ url()->full() }}/floorimages/royale</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/royale">{{ url()->full() }}/constructionimages/royale</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/crofton_gardens_phase_ii">{{ url()->full() }}/constructionimages/crofton_gardens_phase_ii</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=16">{{ url()->full() }}/news?page=16</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/hollyhock">{{ url()->full() }}/project/hollyhock</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/cosmopolis">{{ url()->full() }}/project/cosmopolis</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/minter_garden_phase_ii">{{ url()->full() }}/project/minter_garden_phase_ii</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/brent_park">{{ url()->full() }}/project/brent_park</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/project/orville">{{ url()->full() }}/project/orville</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/2/fairmont.pdf">{{ url()->full() }}/images/ebrochure/2/fairmont.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/1/notting_hill.pdf">{{ url()->full() }}/images/ebrochure/1/notting_hill.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/118/Victoria_Park.pdf">{{ url()->full() }}/images/ebrochure/118/Victoria_Park.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/116/Mayfield_Park.pdf">{{ url()->full() }}/images/ebrochure/116/Mayfield_Park.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/115/croftongardensphaseii.pdf">{{ url()->full() }}/images/ebrochure/115/croftongardensphaseii.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=1">{{ url()->full() }}/news?page=1</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/TM--8.pdf">{{ url()->full() }}/images/newsfiles/TM--8.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/MK--7.pdf">{{ url()->full() }}/images/newsfiles/MK--7.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/TM--1.pdf">{{ url()->full() }}/images/newsfiles/TM--1.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=9">{{ url()->full() }}/news?page=9</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=10">{{ url()->full() }}/news?page=10</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/car_rally.pdf">{{ url()->full() }}/images/newsfiles/car_rally.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/xander.pdf">{{ url()->full() }}/images/newsfiles/xander.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/2_file1.pdf">{{ url()->full() }}/images/newsfiles/2_file1.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/1_file1.pdf">{{ url()->full() }}/images/newsfiles/1_file1.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/3_file4.pdf">{{ url()->full() }}/images/newsfiles/3_file4.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/3_file3.pdf">{{ url()->full() }}/images/newsfiles/3_file3.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/3_file1.pdf">{{ url()->full() }}/images/newsfiles/3_file1.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=11">{{ url()->full() }}/news?page=11</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=15">{{ url()->full() }}/news?page=15</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=12">{{ url()->full() }}/news?page=12</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=13">{{ url()->full() }}/news?page=13</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/news?page=14">{{ url()->full() }}/news?page=14</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/brixton">{{ url()->full() }}/floorimages/brixton</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/brixton">{{ url()->full() }}/constructionimages/brixton</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/4/Brixton%20E%20Brochure.pdf">{{ url()->full() }}/images/ebrochure/4/Brixton%20E%20Brochure.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/coasta">{{ url()->full() }}/floorimages/coasta</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/coasta">{{ url()->full() }}/constructionimages/coasta</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/5/coasta.pdf">{{ url()->full() }}/images/ebrochure/5/coasta.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/dynasty">{{ url()->full() }}/floorimages/dynasty</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/hollyhock">{{ url()->full() }}/floorimages/hollyhock</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/7/hollyhock.pdf">{{ url()->full() }}/images/ebrochure/7/hollyhock.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/imperia">{{ url()->full() }}/floorimages/imperia</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/8/Imperia_Brochure.pdf">{{ url()->full() }}/images/ebrochure/8/Imperia_Brochure.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/11/Royale-min.pdf">{{ url()->full() }}/images/ebrochure/11/Royale-min.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/stafford">{{ url()->full() }}/floorimages/stafford</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/stafford">{{ url()->full() }}/constructionimages/stafford</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/13/stafford.pdf">{{ url()->full() }}/images/ebrochure/13/stafford.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/temple_town">{{ url()->full() }}/floorimages/temple_town</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/temple_town">{{ url()->full() }}/constructionimages/temple_town</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/14/templetown.pdf">{{ url()->full() }}/images/ebrochure/14/templetown.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/16/cosmopolis.pdf">{{ url()->full() }}/images/ebrochure/16/cosmopolis.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/17/E-Broc.pdf">{{ url()->full() }}/images/ebrochure/17/E-Broc.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/18/bommingdale-min.pdf">{{ url()->full() }}/images/ebrochure/18/bommingdale-min.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/19/southern%20garden-min.pdf">{{ url()->full() }}/images/ebrochure/19/southern%20garden-min.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/floorimages/harmony">{{ url()->full() }}/floorimages/harmony</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/108/spring%20field-min.pdf">{{ url()->full() }}/images/ebrochure/108/spring%20field-min.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/constructionimages/brent_park">{{ url()->full() }}/constructionimages/brent_park</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/ebrochure/109/brentpark.pdf">{{ url()->full() }}/images/ebrochure/109/brentpark.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/3_file2.pdf">{{ url()->full() }}/images/newsfiles/3_file2.pdf</a>
                    </td>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/the-hindu-property-plus.pdf">{{ url()->full() }}/images/newsfiles/the-hindu-property-plus.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/MD-Speach-PR.pdf">{{ url()->full() }}/images/newsfiles/MD-Speach-PR.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/ISO_Certificate.pdf">{{ url()->full() }}/images/newsfiles/ISO_Certificate.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/vgn-launches.pdf">{{ url()->full() }}/images/newsfiles/vgn-launches.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/musalman.pdf">{{ url()->full() }}/images/newsfiles/musalman.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/VGNLAUNCHED_MINERVA.pdf">{{ url()->full() }}/images/newsfiles/VGNLAUNCHED_MINERVA.pdf</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ url()->full() }}/images/newsfiles/vgnlaunchesminerva.pdf">{{ url()->full() }}/images/newsfiles/vgnlaunchesminerva.pdf</a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>  
</section>


